.cp-img-text {
  h2 {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-weight: 700;

    @include teq-breakpoint($large) {
      font-weight: 600;
    }
  }

  img {
    margin-bottom: 1.5rem;
  }

  .paragraph {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    @include teq-breakpoint($large) {
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }

  .left {
    @include teq-breakpoint(0, $large) {
      margin-bottom: 6.4rem;
    }
  }
}
