.cp-portrait-layout {
    .left {
        margin-bottom: 3.2rem;
        img, video, iframe {
            aspect-ratio: 358/680;
        }
        @include teq-breakpoint($medium) {
            margin-bottom: 0;

            img, video, iframe {
                aspect-ratio: 380/720;
            }
        }
    }

    .right {
        img {
            aspect-ratio: 358/715;
        }
        @include teq-breakpoint($medium) {
            img {
                aspect-ratio: 908/1813;
            }
        }
    }

    .btn-pause {
        bottom: 2.4rem;
        left: 0;
        right: 0;
    }
}