.cp-hero-case {
    margin-top: 4.4375rem !important;
    aspect-ratio: 264/194;

    @include teq-breakpoint($large) {
        margin-top: 6.25rem !important;
        aspect-ratio: 1568/1120;
    }

    &.background {
        aspect-ratio: 264/194;
        position: relative;
        margin-bottom: 9.25rem;
    
        @include teq-breakpoint($large) {
            aspect-ratio: 1568/1120;
            margin-bottom: 0;
        }

        .img-video-row {
            position: initial;
        }

        .cta-primary {
            bottom: -3.5rem;
            position: absolute;
            transform: translateY(100%);
            left: 0;
            right: 0;
        }
    }

    .title {
        margin-top: 2rem;

        .first-line {
            height: 1.0625rem;
            margin-bottom: 0.3125rem;
            font-size: 1.5rem;
            line-height: 1.2;
        
            @include teq-breakpoint($small) {
                font-size: 3.75rem;
                line-height: 0.8;
                height: 3.375rem;
            }
        
            @include teq-breakpoint($large) {
                font-size: 3.75rem;
                height: 4.125rem;
                line-height: 1.2;
            }
        }

        .second-line {
            font-size: 2rem;
            line-height: 1.2;
            height: 1.375rem;
            font-weight: 300;
        
            @include teq-breakpoint($small) {
                font-size: 5rem;
                line-height: 0.8;
                height: 3.5625rem;
                font-weight: 400;
            }
        
            @include teq-breakpoint($large) {
                font-size: 5.625rem;
                line-height: 0.8;
                height: 3.8125rem;
            }
        }
    }

    .description {
        margin-top: 2rem;   
        @include teq-breakpoint($large) {
            margin-top: 2.4375rem; 
        } 
    }

    .img-video-row {
        margin-top: 4.5rem;
        position: relative;
        padding-inline: 0 !important;

        .img-bg {
            padding-inline: 0;

            picture {
                img {
                    aspect-ratio: 390/280;
                }
            }
        }

        .img-principal, 
        .video-principal {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            picture {
                img {
                    aspect-ratio: 264/194;
                }
            }

            video {
                aspect-ratio: 264/194;
            }
        }


        @include teq-breakpoint($large) {
            margin-top: 5rem;

            .bg-img {
                picture {
                    img {
                        max-height: auto;
                        aspect-ratio: 1568/1120;
                    }
                }
            }

            .img-principal, 
            .video-principal {
                picture {
                    img {
                        aspect-ratio: 1040/766;
                    }
                }
                video {
                    aspect-ratio: 1040/766;
                }
            }
        }
    }

        
    .btn-pause {
        left: 50%;
        bottom: 6.5%;
        transform: translateX(-50%);

        &.mobile {
            margin-top: 1.5rem;
            transform: translateX(0);
        }
    }

    .cta-primary {
        margin-top: 3.5rem;

        .line {
            position: absolute;
            width: 0.0625rem;
            height: 3.5625rem;
            background-color: var(--color-light-lines);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }
}