.cp-list-text {
  h2 {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 700;

    @include teq-breakpoint($large) {
      font-weight: 600;
    }
  }

  ul {
    li {
      list-style: none;
      position: relative;
      padding-left: 0.625rem;
      font-size: 0.625rem;
      line-height: 1.2;

      // Custom list-style if list-style : none;
      &::before {
        background-color: var(--color-dark);
        border-radius: 50%;
        content: "";
        height: 7px;
        left: 0;
        position: absolute;
        top: 0px;
        transform: translateY(20%);
        width: 7px;
      }
    }
  }

  .paragraph {
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    @include teq-breakpoint($large) {
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  .left {
    @include teq-breakpoint(0, $large) {
      margin-bottom: 4rem;
    }
  }
}
