.cp-hero {
  height: calc(100vh - 7.1rem);
  margin-top: 7.1rem !important;

  @include teq-breakpoint($large) {
    height: 100vh;
    margin-top: 0 !important;
  }

  .content {
    z-index: 1;
    height: 100%;
    margin-top: 12rem;

    @include teq-breakpoint($large) {
      margin-top: 0;
      top: 50%;
      height: fit-content;
      transform: translateY(-50%);
    }
  }

  h1 {
    perspective: 25vw;
  }

  .description {
    line-height: 1.2;
    opacity: 0;
    padding-inline: 3.2rem;
  }

  .btn-tequila {
    opacity: 0;
  }
  .title-container {
    transform: rotateX(-90deg) rotateY(0deg);
    opacity: 0;
  }

  .title-top, 
  .title-bottom {
    transform-origin: center bottom;
    perspective: 20vw;

    .line {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-light-lines);
        bottom: 0;
        left: 0;
        z-index: -1;
        transform-origin: left;
        transform: scaleX(0);

        &.bottom {
            transform-origin: right;
        }
    }
  }

  .title-top {
    height: 4.4rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 1.2;

    @include teq-breakpoint($small) {
        font-size: 6rem;
        line-height: 0.8;
        height: 5.4rem;
    }

    @include teq-breakpoint($large) {
        font-size: 8rem;
        height: 8.8rem;
        line-height: 1.2;
    }
  }

  .title-bottom {
    font-size: 6rem;
    line-height: 0.8;
    height: 4.4rem;

    @include teq-breakpoint($small) {
        font-size: 8rem;
        line-height: 0.8;
        height: 5.7rem;
    }

    @include teq-breakpoint($large) {
        font-size: 12rem;
        line-height: 0.8;
        height: 8.7rem;
    }
  }

  .line-vertical {
    position: absolute;
    width: 1px;
    height: 70%;
    background-color: var(--color-light-lines);
    right: 200px;
    bottom: 0;
  }

  .overlay {
    opacity: 0;
    display: none;

    @include teq-breakpoint($large) {
      display: block;
      top: 10rem;
      left: 0;
    }
  }

  .line-mobile {
    height: 100%;
    width: 1px;
    background-color: var(--color-light-lines);
    margin-inline: auto;
  }


  .showreel-wrapper {
    display: none;
    @include teq-breakpoint($large) {
      display: block;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    -webkit-mask-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Circle_-_black_simple.svg");
    -webkit-mask-position:bottom right;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size:300px;
    // mask-image: url("../images/circle.svg");
    mask-position:center center;
    mask-repeat:no-repeat;
    mask-size:300px;
  }

  .full-video-wrapper {
    display: none;
    @include teq-breakpoint($large) {
      display: block;
    }
    z-index: 4;
    opacity: 0;
    pointer-events: none;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .close-btn {
      width: 40px;
      height: 40px;
      top: 2rem;
      right: 2rem;
      z-index: 5;
      border-radius: 50%;
      background-color: var(--color-dark);
      svg {
        fill: var(--color-white);
        width: 16px;
        height: 16px;
      }
    }
  }

}