.cp-collapser {
  .collapser-item {
    .container {
      background: map-get($colors, c-white);
      overflow: hidden;
    }

    .item-title {
      h4 {
        max-width: 90%;
      }

      .icon-plus, 
      .icon-minus {
        width: 10px;
      }

      .icon-minus {
        display: none;
      }

      @include link-a11y(map-get($colors,c-dark));
    }

    &:nth-child(odd) {
      .col-12 {
        background-color: map-get($colors, c-grey);
      }
    }

    .wysiwyg-wrapper {
      height: 0;
      overflow: hidden;
    }
  }
}