html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body, html {
  scroll-padding-top: 10rem;
}

body {
  @include labeur;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color:black;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

// PLYR VIDEO
:root {
  --plyr-color-main: #143c96;
}

.plyr__control--overlaid {
  background-color: map-get($colors, c-dark);
  opacity: 1;
  width: 50px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;

  @include teq-breakpoint($large) {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus-visible {
    background-color: map-get($colors, c-focus);

    svg {
      fill: map-get($colors, c-white);
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

img, video, iframe {
  object-fit: cover;
}

/* Define a transition duration during page visits */
html.is-changing {
    body.transition-fade {
      transition: opacity 0.25s;
      opacity: 1;
    }
}
/* Define the styles for the unloaded pages */
html.is-animating {
  body.transition-fade {
      opacity: 0;
    }
}