@mixin link-a11y($colors) {
    &:not(:active):focus-visible {
        outline-color: $colors;
        outline-width: 2px;
        outline-offset: 0.3125rem;
        outline-style: solid;
    }
}

@mixin link-a11y-after($colors) {
    &:not(:active):focus-visible {
        &::after {
            outline-color: $colors;
            outline-offset: 0.3125rem;
            outline-style: solid;
        }
    }
}

a,
button {
    @include link-a11y(currentColor);
}