@use "a11y";

.cta-primary {
  display: inline-flex;
  font-family: "Sterling";
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--color-dark);
  color: var(--color-white);
  border-radius: 24px;
  padding: 0.95rem 1.6rem;
  width: fit-content;

  &.big {
    padding: 1.25rem 4.4rem;
  }

  &.new-tab {
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;

    .icon-arrow-tab {
      width: 0.7rem;
      height: 0.7rem;
      fill: var(--color-white);
      transform: rotateZ(-45deg);
    }
  }
}

.btn-pause {
  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

a.stretched-link {
  @include a11y.link-a11y-after(var(--color-dark));
}
