@use "sass:map";

// PREFIX
$color-prefix: "c-";
$linear-gradient-prefix: "lg-";

// BREAKPOINTS
$big-screen: 1600px;
$screen: 1440px;
$small-screen: 1300px;
$x-small-screen: 1200px;
$tablet: 1025px;
$m-tablet: 1080px;
$large: 991px;
$medium: 769px;
$small: 690px;
$x-small: 480px;
$xx-small: 350px;

$breaks: (
  "xs": $x-small,
  "sm": $small,
  "md": $medium,
  "lg": $large,
  "tab": $tablet,
  "xl": $small-screen,
);

$multiple: 8px;
$max-w: 100%;
$gutter: 24px;

$paddingInlineGrid-xs : clamp($gutter, 10vw, 144px);
$paddingInlineGrid : 24px;

// COLORS
$colors: (
  // Base ADN Colors
  #{$color-prefix}white: #fff,
  #{$color-prefix}dark: #000,
  #{$color-prefix}grey: #f9f9f9,
  #{$color-prefix}grey-50: #e0e0e0,
  #{$color-prefix}grey-40: #eeeeee,
  #{$color-prefix}grey-30: #f5f5f5,
  #{$color-prefix}grey-border: #d9d9d9,
  #{$color-prefix}focus: #143c96,

  // TEQUILARAPIDO
  #{$color-prefix}light-lines: #E5E5E5,
  #{$color-prefix}dark-lines: #2E2E2E,
);
