.custom-select {
  select {
    font-size: 16px;
    appearance: none;
    background-color: transparent;
    border: none;
    color: map-get($colors, c-dark);
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding-bottom: 16px;
    padding-top: 16px;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }
  }

  .select {
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-color: map-get($colors, c-grey-70);
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    grid-template-areas: "select";
    //width: 100%;
    padding: 0;
    position: relative;

    &::after {
      background-color: map-get($colors, c-dark);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      content: "";
      display: block;
      height: 6px;
      justify-self: end;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
    }
  }

  select:focus {
    outline: none;
  }

  select:focus-visible {
    border-radius: 5px;
    outline: 2px solid map-get($colors, c-dark);
  }

  .select--disabled {
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
    cursor: not-allowed;
  }
}
