.cp-full-banner {
  .sub-wrapper {
    flex-direction: column;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 2;
    bottom: 64px;

    @include teq-breakpoint(0, $tablet) {
      position: initial;
    }

    .btn-primary {
      margin-bottom: 56px;
    }

    &.centered {
      align-items: center;
      .teq-row {
        align-items: center;
      }
      .content {
        margin-left: 0;
        text-align: center;

        @include teq-breakpoint($tablet) {
          max-width: 60%;
          width: 60%;
        }

        .btn-primary {
          margin: auto auto 56px auto;
        }
      }
    }
    @include teq-breakpoint($tablet) {
      aspect-ratio: 7/4;
    }
  }
  .content {
    color: #000;
    position: relative;
    z-index: 1;

    @include teq-breakpoint($tablet) {
      color: #fff;
    }

    h2 {
      overflow: hidden;
      line-height: 1.2;
      opacity: 0;
      transform: translateY(-50px);
      transition: all 1s;
      @include teq-breakpoint($medium) {
        transition-delay: 0.3s;
      }
    }

    .txt {
      opacity: 0;
      transform: translateX(50px);
      transition: all 1s;
      @include teq-breakpoint($medium) {
        transition-delay: 0.6s;
      }
    }
  }
  .images {
    width: 100%;
    top: 0;
    padding: 0;
    order: 0;
    height: 100%;
    &.gradient {
      &::after {
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        width: 100%;
        content: "";
        height: auto;
        @include teq-breakpoint($tablet) {
          height: 100%;
        }
      }
    }
    img {
      object-fit: cover;
      aspect-ratio: 7/4;
    }
    @include teq-breakpoint($tablet) {
      position: absolute;
    }
  }
  .cp-full-banner-pagination{
    position: absolute;
    bottom:0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    gap: $margin;

    span {
      background-color: transparent;
      font-weight: 600;
      color: #000;
      border-radius: 0;
      height: 24px;
      width: 24px;

      &.swiper-pagination-bullet-active {
        border-bottom: 2px solid var(--color-dark);
      }
    }

    @include teq-breakpoint($tablet) {
      bottom:40px;

      span {
        color: #fff;

        &.swiper-pagination-bullet-active {
          border-bottom: 2px solid var(--color-white);
        }
      }
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      @include teq-breakpoint($large){
        height:auto;
      }
    }
    .swiper-slide-active {
      .content-wrapper {
        .content {
          h2 {
            opacity: 1!important;
            transform: translateY(0)!important;
          }
          .txt{
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    button {
      border: none;
      background-color: transparent;
    }
  }
}

.swiper .swiper-navigation > div {
  padding: 16px;
  top: auto;
  bottom: 0;

  @include teq-breakpoint($tablet) {
    padding: 24px;
    bottom: 50%;
  }
}