.cp-tab-cards {
    .tag-container {
        @include teq-breakpoint($large) {
            background-color: var(--color-grey);
        }
    }

    .label-ul {
        padding: 30px 15px 30px 15px;
        @include teq-breakpoint($large) {
            padding: 30px 40px 30px 40px;
        }
    }

    .label-ul {
        @include teq-breakpoint(0, $large) {
            display: none;
        }
    }

    .select {
        background-color: var(--color-grey);
    }

    .label-select {
        @include teq-breakpoint($large) {
            display: none;
        }
    }

    .illust {
        @include teq-breakpoint(0, $medium) {
            padding-left: 7px;
        }

        img {
            aspect-ratio: 3/4;
        }
    }

    .icon-arrow-tab {
        width: 12px;
        height: 13px;
    }

    .dl-button {
        .icon-arrow-tab {
            transform: rotate(90deg);
        }
    }

    .indicator {
        background: var(--color-dark);
        bottom: 0;
        height: 4px;
        left: 0;
        position: absolute;
        transform-origin: 0 0;
        width: 100px;
      }

      button, a {
        @include link-a11y(#000)
      }
}