@import "tailwindcss";
@import "lenis/dist/lenis.css";

@source "../../**/*.php";
@source "../../**/*.vue";
@source "../js/**/*.js";


@layer components {
    .teq-container {
        @apply
        2xl:container
        px-4 
        py-10 
        md:py-22
        w-full;

    &.full-screen {
      @apply
      w-screen
      max-w-full
    }

    &#grid {
      display: none;
      pointer-events: none;

      &.isVisible {
        display: grid;
      }
    }

    &.banner {
      @apply
      pt-[14.5rem]
      pb-10
      lg:py-22
    }
  }

  .teq-grid {
    @apply
    grid
    grid-cols-6
    md:grid-cols-12
    lg:grid-cols-24
    gap-x-4
    md:gap-x-6;
  }
}
